.git
.gitignore
.dart_tool
.idea
.vscode
build
coverage
test
android
ios
linux
macos
windows
*.iml
.DS_Store
.flutter-plugins
.flutter-plugins-dependencies
.metadata
README.md
openapi.json
fix_methods.dart
refactor.py
revert_script.dart
